/* menu */
.menu {
  background: #007bff;
  padding: 12px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover {
  text-decoration: underline;
}

.container {
  margin-top: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

form {
  background: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

textarea, input, select {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #0056b3;
}

h1 {
  color: #333;
}

.result-box {
  background-color: white;
  display: inline-block;
  text-align: left;
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.result-box p {
  font-size: 18px;
  color: #444;
  line-height: 1.8;
}

.back-btn {
  display: inline-block;
  margin-top: 25px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  transition: background 0.3s;
}

.back-btn:hover {
  background-color: #0056b3;
}
